public/xml-schema/pictures.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="pictures">
		<xs:complexType>
			<xs:sequence>
			
				<xs:element name="frame" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>						
							<xs:element name="picture" maxOccurs="unbounded">
								<xs:complexType>									
									<xs:attribute name="name" type="xs:string" use="required"/> 
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name" type="xs:string" use="required"/> 
					</xs:complexType>
				</xs:element>
				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>